---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PopularDishes from '../components/PopularDishes.astro';
import Menu from '../components/Menu.astro';
import Reviews from '../components/Reviews.astro';
import Delivery from '../components/Delivery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <PopularDishes />
    <Menu />
    <Reviews />
    <Delivery />
    <Contact />
  </main>
  <Footer />
</Layout>
